<!DOCTYPE html>
<html>
<head>
    <title>Register Viewer</title>
    <link rel="icon" type="image/x-icon" href="/static/NDIS-Icon-gold.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <img src="/static/NDIS-Icon-gold.png" alt="Descriptive Alt Text"
      width="100" 
      height="100"
      align="left"/>
    <img src="/static/QRCode.png" alt="Descriptive Alt Text"
    width="100" 
    height="100"
    align="right"/>
    <style type='text/css'>
        body {
          background-color: #0c2340
;
        }
        
        h1, h2, p {
          color: #c99700; 
          text-align: center;
        }
        
        p {
            color: white;
        }
        .image-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .image-container img {
            width: 100px;  /* Adjust the width as needed */
            height: 100px;  /* Maintain the aspect ratio */
            border: 3px solid #c99700;  /* Optional: adds a border around the image */
        }
      </style>
</head>
<body>
  <script>
    function updateData() {
        fetch('/update')
            .then(response => response.json())
            .then(data => {
                document.getElementById('IBUS_ADC_binary').textContent = data.IBUS_ADC_binary;
                document.getElementById('IBUS_ADC_description').textContent = data.IBUS_ADC_description;
                document.getElementById('IBAT_ADC_binary').textContent = data.IBAT_ADC_binary;
                document.getElementById('IBAT_ADC_description').textContent = data.IBAT_ADC_description;
                document.getElementById('VBUS_ADC_binary').textContent = data.VBUS_ADC_binary;
                document.getElementById('VBUS_ADC_description').textContent = data.VBUS_ADC_description;
                document.getElementById('VBAT_ADC_binary').textContent = data.VBAT_ADC_binary;
                document.getElementById('VBAT_ADC_description').textContent = data.VBAT_ADC_description;
                document.getElementById('VSYS_ADC_binary').textContent = data.VSYS_ADC_binary;
                document.getElementById('VSYS_ADC_description').textContent = data.VSYS_ADC_description;

            })
            .catch(error => {
                console.error('Fetch error:', error);
            });
    }
    setInterval(updateData, 500); // Continuously update every 2000 ms (2 seconds)
  </script>
  

    <h1>Solar/Battery I2C Register Viewer</h1>
    <div>
      <h2 id="IBUS_ADC">Solar Current</h2>
      <p id="IBUS_ADC_binary">Binary Value</p>
      <p id="IBUS_ADC_description">Description</p>
    </div>
    <div>
      <h2 id="VBUS_ADC">Solar Voltage</h2>
      <p id="VBUS_ADC_binary">Binary Value</p>
      <p id="VBUS_ADC_description">Description</p>
    </div>
    <div>
    <div>
      <h2 id="IBAT_ADC">Battery Current</h2>
      <p id="IBAT_ADC_binary">Binary Value</p>
      <p id="IBAT_ADC_description">Description</p>
    </div>
      <h2 id="VBAT_ADC">Battery Voltage</h2>
      <p id="VBAT_ADC_binary">Binary Value</p>
      <p id="VBAT_ADC_description">Description</p>
    </div>
    <div>
      <h2 id="VSYS_ADC">System Voltage</h2>
      <p id="VSYS_ADC_binary">Binary Value</p>
      <p id="VSYS_ADC_description">Description</p>
    </div>
    <div style="align: center; color: #0c2340" > 
    <img src="/static/board.png" alt="Descriptive Alt Text"
    width="400" 
    height="400"
    style="display: block; margin-left: auto; margin-right: auto;">
  </div>
    <form action="/" method="post" style="text-align: center; color: #0c2340" >
        <select aria-label="Default select example" name="register" class="btn btn-warning" style="background-color: white; outline-color: white;"  >
            {% for reg_addr, reg_info in registers.items() %}
                <option value="{{ reg_addr }},{{ reg_info[1] }}" style="text-align: center; color: #0c2340" >{{ reg_info[0] }}</option>
            {% endfor %}
        </select>
        <button type="submit">View Data</button>
    </form>
    
    
</body>
</html> 