<!DOCTYPE html>
<html>
<head>
    <title>Register Viewer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style type='text/css'>
        body {
          background-color: navy
        }
        
        h1 {
          color: gold;
          text-align: center;
        }
        
        h2 {
          color: blue;
        }
        p {
            color: red;
        }
      </style>
</head>
<body>

    <h1>I2C Register Data Viewer</h1>
    {% while true %}
    <p value="{{SYSADC}}">{{SYSADC}}</p>

    <form action="/" method="post">
        <select class="form-select" aria-label="Default select example" name="register">
            {% for reg_addr, reg_info in registers.items() %}
                <option value="{{ reg_addr }},{{ reg_info[1] }}">{{ reg_info[0] }}</option>
            {% endfor %}
        </select>
        <button type="submit">View Data</button>
    </form>
    {%sleep(2000)%}
    {% endwhile %}
    
    

</body>
</html>
